.idea/
*iml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.venv
.pytest_cache
.es-data
.DS_Store
*.egg-info

*.jar
*.jsonl

env
.vscode
*.code-workspace
.cache
# github action local
bin
# ignore build folder for docs
docs/_build


# libs and configs
lib/
lib64
pyvenv.cfg
share/

# only used for docs
square-skill-api
square-skill-helpers

**/.env
square-model-inference-api/docker-compose.yaml
local-bin
