Jinja2==3.1.4
elasticsearch[async]==8.12.1
fastapi==0.110.0
filelock==3.13.1
pydantic==1.10.11
python-dotenv==1.0.1
python-multipart==0.0.9
requests==2.31.0
numpy==1.26.4
uvicorn[standard]==0.27.1
square-auth==0.0.14
pymongo==4.0.2
scipy==1.12.0
pyjwt==2.4.0
aiohttp==3.9.3
tqdm==4.66.2
square-elk-json-formatter==0.0.3
trafilatura==1.8.1
