square-elk-json-formatter==0.0.3
square-datastore-client==0.0.3
square-model-client==0.0.10
square-skill-api==0.0.47
requests==2.28.2
fastapi>=0.109.1 # not directly required, pinned by Snyk to avoid a vulnerability
