<!DOCTYPE html>
<html lang="en">

<p>
    You requested that the password for your UKP-SquARE account be reset.
    Please click the link below to reset your password:
</p>

<p>
    <a href="{{ password_reset_url }}">Please click here to reset your password</a><
</p>

<p>This password reset link will expire in 60 minutes</p>
<p>
    If you have any questions, simply reply to this email. We'd love to help.
    If you did not request a password reset, no further action is required
</p>

</html>