uvicorn==0.13.4                 # ASGI server
fastapi>=0.73.0                 # REST API Framework
pydantic==1.8.2                 # models
requests>=2.26.0                # requests
docker                          # docker client
square-auth==0.0.12             # keycloak authentication
celery==5.1.2                   # queue requests
redis==4.1.4
pymongo>=3.12.1
square-elk-json-formatter==0.0.3
importlib-metadata<5.0 # https://github.com/celery/celery/issues/7783
