uvicorn==0.13.4                 # ASGI server
fastapi>=0.73.0                 # REST API Framework
pydantic==1.8.2                 # Input/ output modelling
python-dotenv==0.17.1           # Required for .env configs
sentencepiece==0.1.96           # tokenizer
torch==1.12.0                   # pytorch libs
-f https://data.pyg.org/whl/torch-1.12.0+cpu.html
torch-scatter 
torch-sparse 
torch-geometric
sentence-transformers==1.2.0    # sentence transformers libs
onnxruntime==1.12.0             # onnx inference and models
square-auth==0.0.12             # keycloak authentication
celery==5.1.2                   # queue requests
redis==4.1.4
pytest-env==0.6.2
networkx
spacy>=3.0.0,<4.0.0
square-elk-json-formatter==0.0.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm
importlib-metadata<5.0 # https://github.com/celery/celery/issues/7783
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
