alabaster==0.7.12
attrs==21.4.0
Babel==2.9.1
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.10
css-html-js-minify==2.5.5
docutils==0.17.1
idna==3.3
imagesize==1.3.0
importlib-metadata==4.10.1
Jinja2==3.0.3
lxml==4.7.1
Markdown==3.3.6
markdown-it-py==2.0.0
MarkupSafe==2.0.1
mdit-py-plugins==0.3.0
mdurl==0.1.0
myst-parser==0.16.1
packaging==21.3
Pygments==2.11.2
pyparsing==3.0.6
python-slugify==5.0.2
pytz==2021.3
PyYAML==6.0
requests==2.27.1
snowballstemmer==2.2.0
soupsieve==2.3.1
Sphinx==4.3.2
sphinx-copybutton==0.4.0
sphinx-markdown-tables==0.0.15
sphinx-material==0.0.35
sphinx-favicon==0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinx-pydantic==0.1.1
text-unidecode==1.3
Unidecode==1.3.2
urllib3==1.26.8
zipp==3.7.0
