
@media (max-width: 1200px) {
.md-header-nav__button {
    color: #006691;
    background-color: #006691 !important;
    border-radius: 5px;
}
}


.md-sidebar {
  max-height: 100%;
    position: fixed;
  /*margin: -1.4rem 0rem 1.5rem 0rem;*/
    margin-top: -1.5rem;
    overflow-y: auto;
    overflow-x: auto;
    width: 12rem;
    /*background-color: #006691;*/
}

.md-footer{
    max-width: 100%;
}

/* Container backgrounds */
.md-container, .md-main, .md-nav, .md-nav__list {
    background-color: white !important;
    /*color: #006691;*/
}

/* Nav bar color */
.md-header{
    background-color: #006691 !important;
}

/* All links */
a:not(.md-source, .md-tabs__link, .footer-links, .dropdown-content){
    color: #006691;
}

.md-tabs{
    background-color: #006691 !important;
    color: lightblue !important;
}

/*.md-tabs__link {*/
/*    color: white !important;*/
/*}*/

/* footer start */

.footer-basic {
  padding:15px 0;
    background-color:rgb(33, 37, 41);
}

.footer-links{
    font-size: 16px;
  color: #ffffff;
    align-content: center;
    text-align: center;
  margin: 0 0 0px;
  transition: ease .25s;
}

.footer-refs {
  margin-left: 10px;
}

.footer-basic .copyright {
  margin-top:10px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0px;
}

/* footer end */

.dropdown-content{
    background-color: lightgrey !important;
    /*color: white !important;*/
    font-weight: bold;
}

.dropdown-content:hover{
    background-color: black !important;
}

img[alt=checklist] {
    width: 400px;
    display: block;
    margin: auto;
}

img[alt=demo-page] {
    width: 800px;
    display: block;
    margin: auto;
    text-align: left;
}

img[alt=link-skill] {
    width: 800px;
    display: block;
    margin: auto;
    text-align: left;
}

a:hover {
    color: lightblue;
}

/* Side Menu Links */
.md-nav__item a {
    color: #006691;
}
.md-nav__item a:hover {
    color: lightblue;
}


/*!* Code blocks *!*/
/*pre, code, .md-source {*/
/*    background-color: lightgray  !important;*/
/*    color: #006691 !important;*/
/*}*/

/* Index color */
.toctree-l1 a{
    color: #006691 !important;
}

/* source code color */
.viewcode-link{
    color: #006691 !important;
}

/* Note color */
.admonition-title{
    color: #006691 !important;
}

body{
    font-family:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",
    sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji”;
}
