fastapi>=0.73.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
requests==2.27.1
python-multipart
tenacity==8.0.1
pymongo>=3.12.1
docker==5.0.3
square-auth>=0.0.7
celery==5.1.2
redis==4.1.4
git+https://github.com/UKP-SQuARE/elk-json-formatter@v0.0.2    # elk-json logger
