name: "CI Skills"

on:
  push:
    branches: [ master ]
    paths:
      - "skills/**"
      - ".github/**"
  pull_request:
    branches: [ master ]
    paths:
      - "skills/**"
      - ".github/**"
  workflow_dispatch:

jobs:

  dockerfiles:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          cd skills && bash ./make_dockerfiles.sh ./skills.json

  matrix-setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - id: matrix
        run: |
          echo "::set-output name=skills::$(jq -c '[.[] | .name]' ./skills/skills.json)"
    outputs:
      skills: ${{ steps.matrix.outputs.skills }}

  build:
    runs-on: ubuntu-latest
    needs: [dockerfiles, matrix-setup]
    strategy:
      matrix: 
        skill: ${{ fromJson(needs.matrix-setup.outputs.skills) }}
    steps:
      - run: |
          echo ${{ matrix.skill }}
  # echo ${{ needs.matrix-setup.outputs.skills }}
  # echo ${{ fromJson(needs.matrix-setup.outputs.skills) }}
  # echo ${{ fromJson(matrix) }}
  #     - uses: actions/checkout@v2
  #     - name: Prepare
  #       id: prep
  #       run: |
  #         TAG=$(echo $GITHUB_SHA | head -c7)
  #         IMAGE="ukpsquare/square-skills-{boolq}"
  #         echo ::set-output name=image::${IMAGE}
  #         echo ::set-output name=tag::${TAG}
  #     - name: Set up Docker Buildx
  #       id: buildx
  #       uses: docker/setup-buildx-action@v1
  #       with:
  #         install: true

  #     - name: Cache Docker layers
  #       uses: actions/cache@v2
  #       with:
  #         path: /tmp/.buildx-cache
  #         key: ${{ runner.os }}-buildx-boolq_skill-${{ github.sha }}
  #         restore-keys: |
  #           ${{ runner.os }}-buildx-boolq_skill-
  #           ${{ runner.os }}-buildx-

  #     - name: Login to Docker Hub
  #       uses: docker/login-action@v1
  #       with:
  #         username: ${{ secrets.DOCKER_HUB_USERNAME }}
  #         password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

  #     - name: Build deployable image
  #       uses: docker/build-push-action@v2
  #       with:
  #         builder: ${{ steps.buildx.outputs.name }}
  #         context: ./skills/qa-boolq-skill
  #         target: build
  #         push: ${{github.ref == 'refs/heads/master'}}
  #         tags: ${{ steps.prep.outputs.image }}:${{ steps.prep.outputs.tag }}, ${{ steps.prep.outputs.image }}:latest
  #         cache-from: type=local,src=/tmp/.buildx-cache
  #         cache-to: type=local,mode=max,dest=/tmp/.buildx-cache-new

  #     #  Temp fix
  #     # https://github.com/docker/build-push-action/issues/252
  #     # https://github.com/moby/buildkit/issues/1896
  #     - name: Move cache
  #       run: |
  #         rm -rf /tmp/.buildx-cache
  #         mv /tmp/.buildx-cache-new /tmp/.buildx-cache

  # qa-commonsense-qa-skill:
  #   runs-on: ubuntu-latest

  #   steps:
  #     - uses: actions/checkout@v2

  #     - name: Prepare
  #       id: prep
  #       run: |
  #         TAG=$(echo $GITHUB_SHA | head -c7)
  #         IMAGE="ukpsquare/square-skills-commonsense-qa"
  #         echo ::set-output name=image::${IMAGE}
  #         echo ::set-output name=tag::${TAG}
  #     - name: Set up Docker Buildx
  #       id: buildx
  #       uses: docker/setup-buildx-action@v1
  #       with:
  #         install: true

  #     - name: Cache Docker layers
  #       uses: actions/cache@v2
  #       with:
  #         path: /tmp/.buildx-cache
  #         key: ${{ runner.os }}-buildx-commonsense_qa_skill-${{ github.sha }}
  #         restore-keys: |
  #           ${{ runner.os }}-buildx-commonsense_qa_skill-
  #           ${{ runner.os }}-buildx-

  #     - name: Login to Docker Hub
  #       uses: docker/login-action@v1
  #       with:
  #         username: ${{ secrets.DOCKER_HUB_USERNAME }}
  #         password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

  #     - name: Build deployable image
  #       uses: docker/build-push-action@v2
  #       with:
  #         builder: ${{ steps.buildx.outputs.name }}
  #         context: ./skills/qa-commonsense-qa-skill
  #         target: build
  #         push: ${{github.ref == 'refs/heads/master'}}
  #         tags: ${{ steps.prep.outputs.image }}:${{ steps.prep.outputs.tag }}, ${{ steps.prep.outputs.image }}:latest
  #         cache-from: type=local,src=/tmp/.buildx-cache
  #         cache-to: type=local,mode=max,dest=/tmp/.buildx-cache-new

  #     #  Temp fix
  #     # https://github.com/docker/build-push-action/issues/252
  #     # https://github.com/moby/buildkit/issues/1896
  #     - name: Move cache
  #       run: |
  #         rm -rf /tmp/.buildx-cache
  #         mv /tmp/.buildx-cache-new /tmp/.buildx-cache

  # squad-v2-skill:
  #   runs-on: ubuntu-latest

  #   steps:
  #     - uses: actions/checkout@v2

  #     - name: Prepare
  #       id: prep
  #       run: |
  #         TAG=$(echo $GITHUB_SHA | head -c7)
  #         IMAGE="ukpsquare/square-skills-squad-v2"
  #         echo ::set-output name=image::${IMAGE}
  #         echo ::set-output name=tag::${TAG}
  #     - name: Set up Docker Buildx
  #       id: buildx
  #       uses: docker/setup-buildx-action@v1
  #       with:
  #         install: true

  #     - name: Cache Docker layers
  #       uses: actions/cache@v2
  #       with:
  #         path: /tmp/.buildx-cache
  #         key: ${{ runner.os }}-buildx-squad_v2_skill-${{ github.sha }}
  #         restore-keys: |
  #           ${{ runner.os }}-buildx-squad_v2_skill-
  #           ${{ runner.os }}-buildx-

  #     - name: Login to Docker Hub
  #       uses: docker/login-action@v1
  #       with:
  #         username: ${{ secrets.DOCKER_HUB_USERNAME }}
  #         password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

  #     - name: Build deployable image
  #       uses: docker/build-push-action@v2
  #       with:
  #         builder: ${{ steps.buildx.outputs.name }}
  #         context: ./skills/qa-squad-v2-skill
  #         target: build
  #         push: ${{github.ref == 'refs/heads/master'}}
  #         tags: ${{ steps.prep.outputs.image }}:${{ steps.prep.outputs.tag }}, ${{ steps.prep.outputs.image }}:latest
  #         cache-from: type=local,src=/tmp/.buildx-cache
  #         cache-to: type=local,mode=max,dest=/tmp/.buildx-cache-new

  #     #  Temp fix
  #     # https://github.com/docker/build-push-action/issues/252
  #     # https://github.com/moby/buildkit/issues/1896
  #     - name: Move cache
  #       run: |
  #         rm -rf /tmp/.buildx-cache
  #         mv /tmp/.buildx-cache-new /tmp/.buildx-cache

  # retrieve-span-skill:
  #   runs-on: ubuntu-latest

  #   steps:
  #     - uses: actions/checkout@v2

  #     - name: Prepare
  #       id: prep
  #       run: |
  #         TAG=$(echo $GITHUB_SHA | head -c7)
  #         IMAGE="ukpsquare/square-skills-retrieve-span"
  #         echo ::set-output name=image::${IMAGE}
  #         echo ::set-output name=tag::${TAG}
  #     - name: Set up Docker Buildx
  #       id: buildx
  #       uses: docker/setup-buildx-action@v1
  #       with:
  #         install: true

  #     - name: Cache Docker layers
  #       uses: actions/cache@v2
  #       with:
  #         path: /tmp/.buildx-cache
  #         key: ${{ runner.os }}-buildx-retrieve_span_skill-${{ github.sha }}
  #         restore-keys: |
  #           ${{ runner.os }}-buildx-retrieve_span_skill-
  #           ${{ runner.os }}-buildx-

  #     - name: Login to Docker Hub
  #       uses: docker/login-action@v1
  #       with:
  #         username: ${{ secrets.DOCKER_HUB_USERNAME }}
  #         password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

  #     - name: Build deployable image
  #       uses: docker/build-push-action@v2
  #       with:
  #         builder: ${{ steps.buildx.outputs.name }}
  #         context: ./skills/qa-retrieve-span-skill
  #         target: build
  #         push: ${{github.ref == 'refs/heads/master'}}
  #         tags: ${{ steps.prep.outputs.image }}:${{ steps.prep.outputs.tag }}, ${{ steps.prep.outputs.image }}:latest
  #         cache-from: type=local,src=/tmp/.buildx-cache
  #         cache-to: type=local,mode=max,dest=/tmp/.buildx-cache-new

  #     #  Temp fix
  #     # https://github.com/docker/build-push-action/issues/252
  #     # https://github.com/moby/buildkit/issues/1896
  #     - name: Move cache
  #       run: |
  #         rm -rf /tmp/.buildx-cache
  #         mv /tmp/.buildx-cache-new /tmp/.buildx-cache

  # qa-extractive-skill:
  #   runs-on: ubuntu-latest

  #   steps:
  #     - uses: actions/checkout@v2

  #     - name: Prepare
  #       id: prep
  #       run: |
  #         TAG=$(echo $GITHUB_SHA | head -c7)
  #         IMAGE="ukpsquare/square-skills-extractive"
  #         echo ::set-output name=image::${IMAGE}
  #         echo ::set-output name=tag::${TAG}
  #     - name: Set up Docker Buildx
  #       id: buildx
  #       uses: docker/setup-buildx-action@v1
  #       with:
  #         install: true

  #     - name: Cache Docker layers
  #       uses: actions/cache@v2
  #       with:
  #         path: /tmp/.buildx-cache
  #         key: ${{ runner.os }}-buildx-extractive_skill-${{ github.sha }}
  #         restore-keys: |
  #           ${{ runner.os }}-buildx-extractive_skill-
  #           ${{ runner.os }}-buildx-

  #     - name: Login to Docker Hub
  #       uses: docker/login-action@v1
  #       with:
  #         username: ${{ secrets.DOCKER_HUB_USERNAME }}
  #         password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

  #     - name: Build deployable image
  #       uses: docker/build-push-action@v2
  #       with:
  #         builder: ${{ steps.buildx.outputs.name }}
  #         context: ./skills/qa-extractive-qa-skill
  #         target: build
  #         push: ${{github.ref == 'refs/heads/master'}}
  #         tags: ${{ steps.prep.outputs.image }}:${{ steps.prep.outputs.tag }}, ${{ steps.prep.outputs.image }}:latest
  #         cache-from: type=local,src=/tmp/.buildx-cache
  #         cache-to: type=local,mode=max,dest=/tmp/.buildx-cache-new

  #     #  Temp fix
  #     # https://github.com/docker/build-push-action/issues/252
  #     # https://github.com/moby/buildkit/issues/1896
  #     - name: Move cache
  #       run: |
  #         rm -rf /tmp/.buildx-cache
  
  # qa-multiple-choice-skill:
  #   runs-on: ubuntu-latest

  #   steps:
  #     - uses: actions/checkout@v2

  #     - name: Prepare
  #       id: prep
  #       run: |
  #         TAG=$(echo $GITHUB_SHA | head -c7)
  #         IMAGE="ukpsquare/square-skills-multiple-choice"
  #         echo ::set-output name=image::${IMAGE}
  #         echo ::set-output name=tag::${TAG}
  #     - name: Set up Docker Buildx
  #       id: buildx
  #       uses: docker/setup-buildx-action@v1
  #       with:
  #         install: true

  #     - name: Cache Docker layers
  #       uses: actions/cache@v2
  #       with:
  #         path: /tmp/.buildx-cache
  #         key: ${{ runner.os }}-buildx-multiple_choice_skill-${{ github.sha }}
  #         restore-keys: |
  #           ${{ runner.os }}-buildx-multiple_choice_skill-
  #           ${{ runner.os }}-buildx-

  #     - name: Login to Docker Hub
  #       uses: docker/login-action@v1
  #       with:
  #         username: ${{ secrets.DOCKER_HUB_USERNAME }}
  #         password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

  #     - name: Build deployable image
  #       uses: docker/build-push-action@v2
  #       with:
  #         builder: ${{ steps.buildx.outputs.name }}
  #         context: ./skills/qa-multiple-choice-skill
  #         target: build
  #         push: ${{github.ref == 'refs/heads/master'}}
  #         tags: ${{ steps.prep.outputs.image }}:${{ steps.prep.outputs.tag }}, ${{ steps.prep.outputs.image }}:latest
  #         cache-from: type=local,src=/tmp/.buildx-cache
  #         cache-to: type=local,mode=max,dest=/tmp/.buildx-cache-new

  #     #  Temp fix
  #     # https://github.com/docker/build-push-action/issues/252
  #     # https://github.com/moby/buildkit/issues/1896
  #     - name: Move cache
  #       run: |
  #         rm -rf /tmp/.buildx-cache

  # qa-retrieve-bioasq-skill:
  #   runs-on: ubuntu-latest

  #   steps:
  #     - uses: actions/checkout@v2

  #     - name: Prepare
  #       id: prep
  #       run: |
  #         TAG=$(echo $GITHUB_SHA | head -c7)
  #         IMAGE="ukpsquare/square-skills-retrieve-bioasq"
  #         echo ::set-output name=image::${IMAGE}
  #         echo ::set-output name=tag::${TAG}
  #     - name: Set up Docker Buildx
  #       id: buildx
  #       uses: docker/setup-buildx-action@v1
  #       with:
  #         install: true

  #     - name: Cache Docker layers
  #       uses: actions/cache@v2
  #       with:
  #         path: /tmp/.buildx-cache
  #         key: ${{ runner.os }}-buildx-retrieve_bioasq-${{ github.sha }}
  #         restore-keys: |
  #           ${{ runner.os }}-buildx-retrieve_bioasq-
  #           ${{ runner.os }}-buildx-

  #     - name: Login to Docker Hub
  #       uses: docker/login-action@v1
  #       with:
  #         username: ${{ secrets.DOCKER_HUB_USERNAME }}
  #         password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

  #     - name: Build deployable image
  #       uses: docker/build-push-action@v2
  #       with:
  #         builder: ${{ steps.buildx.outputs.name }}
  #         context: ./skills/qa-retrieve-bioasq-skill
  #         target: build
  #         push: ${{github.ref == 'refs/heads/master'}}
  #         tags: ${{ steps.prep.outputs.image }}:${{ steps.prep.outputs.tag }}, ${{ steps.prep.outputs.image }}:latest
  #         cache-from: type=local,src=/tmp/.buildx-cache
  #         cache-to: type=local,mode=max,dest=/tmp/.buildx-cache-new

  #     #  Temp fix
  #     # https://github.com/docker/build-push-action/issues/252
  #     # https://github.com/moby/buildkit/issues/1896
  #     - name: Move cache
  #       run: |
  #         rm -rf /tmp/.buildx-cache
